p > b{
	color:blue;
}
p > em{
	color:red;
}

ul li.list2 ~ li{
	color: blue;
}
abbr[title]{
	color: green;
}
div[class^="box"]{
	background: yellow;
}
input:invalid{
	border-color: red;
}
input:valid{
	border-color: green;
}
input:valid + .sign::before{
	content: '✓';
	color: green;
}
input:invalid + .sign::before{
	content: '❌';
	color: red;
}
input:in-range{
	background-color: green;
}
input:out-of-range{
	background-color: red;
}
.bordertest{
	width: 250px;
	height: 250px;
	background-color: lime;
	border-style: solid;
	margin: 50px;
	outline: 5px solid green;
	outline-offset: 5px;
}
body{
	font-family: Arial;
}
.tr{
	text-transform: uppercase;
	color: white;
}
body{
	background-image: url(w3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.w3_d{
	width: 500px;
	height: 200px;
	padding: 40px;
	border: 10px dashed yellow;
	background-repeat: no-repeat;
	background-image:linear-gradient(to right, transparent, gray) ,url(w3_deneme.jpeg);
	background-position: center;
	background-size: cover;
	background-origin: border-box;
}

.cb3{
	display:inline-block;
	width: 80px;
	height: 30px;
	border-radius: 40px;
	background-color: #ddd;
	position: relative;
	cursor: pointer;
	transition:500ms background-color;
}
.check-btn{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: tomato;
	position: absolute;
	top: 3px;
	left: 3px;
}
/*.cb2:invalid + .cb4{
	content: '❌';
	color: red;
}
.cb2:valid + .cb4{
	content: '✓';
	color: green;
}*/
.cb2:checked + .cb3{
	background-color: tomato;
}
.cb2:checked + .cb3 .check-btn{
	transition: 500ms left;
	left: 50px;
	background-color: white;
}
.cb2{
	display: none;
}